<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @profile.user_name %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @profile.pic %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Person:</strong>
  <%= @profile.person_id %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @profile.keyword %>
</p>

<p>
  <strong>Language:</strong>
  <%= @profile.language %>
</p>

<p>
  <strong>Url:</strong>
  <%= @profile.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @profile.status %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
