

    <section id="main-slider">
        <div class="flexslider">
              <ul class="slides">
                <li data-thumb="assets/thum-1.png">
                    <%= image_tag 'slider1.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-1.png', class: 'mob-slider', alt: '' %>
                    
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Seamlessly edit PDFs right inside Zapier!</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>… and if you haven’t tried Zapier before, we’ll get you set up with Zapier & PDF ZapMe in one easy step!</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Try for Free!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                    
                </li>
                <li data-thumb="assets/thum-2.png">
                    <%= image_tag 'slider2.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-2.png', class: 'mob-slider', alt: '' %>
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Seamlessly edit PDFs right inside Zapier!</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>… and if you haven’t tried Zapier before, we’ll get you set up with Zapier & PDF ZapMe in one easy step!</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Try for Free!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                </li>
                
                <li data-thumb="assets/thum-3.png">

                    <%= image_tag 'slider3.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-3.png', class: 'mob-slider', alt: '' %>
                    
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Seamlessly edit PDFs right inside Zapier!</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>… and if you haven’t tried Zapier before, we’ll get you set up with Zapier & PDF ZapMe in one easy step!</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Try for Free!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                </li>
                
                <li data-thumb="assets/thum-4.png">
                    <%= image_tag 'slider4.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-4.png', class: 'mob-slider', alt: '' %>                    
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Seamlessly edit PDFs right inside Zapier!</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>… and if you haven’t tried Zapier before, we’ll get you set up with Zapier & PDF ZapMe in one easy step!</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Try for Free!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                </li>
              </ul>
        </div>
    </section>

    <section id="product-progress">
        <h1>See how easy PDF editing can be</h1>
    	<div class="container">
    		<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    				<div class="animation">
                        <%= image_tag 'computer-upload-print-onto.png', class: '', alt: '' %>
                        <%= image_tag 'submit-photos-to-print-onto.png', class: 'animated fadeIn', id: 'submit-it', alt: '' %>
    				</div>
    				<div class="progress-ad">
    					<h3>1. Add Pages</h3>
    					<span>Add new pages to documents.</span>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    				<div class="animation">
                        <%= image_tag 'delete.png', class: '',id: 'print-it', alt: '' %>
    				</div>
    				<div class="progress-ad">
    					<h3>2. Delete</h3>
    					<span>Remove pages that aren’t needed.</span>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    				<div class="animation">
                        <%= image_tag 'printers-by-print-onto.png', class: '', alt: '' %>
                        <%= image_tag 'get-it-printed-by-print-onto.png', class: 'animated printInDown',id: 'print-it', alt: '' %>
    				</div>
    				<div class="progress-ad">
    					<h3>3. Add Headers & Footers</h3>
    					<span>Print titles or descriptions to the full document.</span>
    				</div>
    			</div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="animation">
                        <%= image_tag 'merge.png', class: '',id: 'print-it', alt: '' %>
                    </div>
                    <div class="progress-ad">
                        <h3>4. Merge</h3>
                        <span>Merge PDFs into one document.</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="animation">
                        <%= image_tag 'prints-by-print-onto.png', class: '', alt: '' %>
                        <%= image_tag 'customized-prints-by-print-onto.png', class: 'animated rotate', id: 'custom-it', alt: '' %>
                    </div>
                    <div class="progress-ad">
                        <h3>5. Rotate</h3>
                        <span>Select individual pages or ranges.</span>
                    </div>
                </div>
                 <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                </div>
    		</div>
    	</div>
    </section>
    <section id="video">

        <h1>How does it work?</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-12 col-lg-6 text-center">
                <div class="text-center" style="text-align: center;">
                <iframe title="WordParts Value Proposition" allowfullscreen="allowfullscreen" height="315" src="https://www.youtube-nocookie.com/embed/vi6K7XF-6eg?rel=0&controls=0&showinfo=0" width="560"></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-12 col-lg-6">
                <div class="fusion-text"><p>You already know Zapier is your automation guru, connecting apps like Dropbox, Google Docs and more. But what happens when you hit a dead end?</p>
                <p>Introducing PDF ZapMe!</p>
                <p>PDF ZapMe lets you edit PDFs seamlessly right inside Zapier: Delete, move, add new pages, and more!</p>
                <p>If you’re new to Zapier we’ll make your free Zapier profile automatically, try PDF ZapMe today and get started with a 14 day free trial!</p>
                <p><strong>PDF ZapMe – See how easy PDF editing can be.</strong></p>
            </div>
            </div>
        </div>
    </section>

    <section id="get-started">
    	<div class="discount wow bounceInDown" ><h1>TRY</h1>FOR FREE</div>
    	<div class="container">
    		<h1>New to Zapier?</h1>
    		<h2>Try PDF ZapMe and we’ll make your free Zapier profile automatically!</h2>
    		<a href="#" class="green-btn">Try for Free!</a>
    	</div>
    </section>
    <section id="membership">
        <div class="container">
            <h1>Pricing</h1>
            <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                    <div class="card" style="width: 20rem;">
                          <div class="card-block">
                            <h2 class="card-title text-center">6$</h2>
                            <h2 class="card-title text-center">Monthly</h2>
                            <p class="card-text text-center">Try it out for 14 days free!</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">Zapier Account Creation</li>
                            <li class="list-group-item">Generate Zapier API</li>
                            <li class="list-group-item">Edit PDFs in Zapier</li>
                            <li class="list-group-item">Monthly Analytics</li>
                          </ul>
                          <div class="card-block">
                            <button type="button" class="btn green-btn btn-lg btn-block">Start your trial today!</button>
                          </div>
                        </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                   <div class="card" style="width: 20rem;">
                          <div class="card-block">
                            <h2 class="card-title text-center">60$</h2>
                            <h2 class="card-title text-center">Annually</h2>
                            <p class="card-text text-center">Get 2 months free!</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Zapier Account Creation</li>
                            <li class="list-group-item">Generate Zapier API</li>
                            <li class="list-group-item">Edit PDFs in Zapier</li>
                            <li class="list-group-item">Monthly Analytics</li>
                          </ul>
                          <div class="card-block">
                            <button type="button" class="btn green-btn btn-lg btn-block">Get Started</button>
                          </div>
                        </div>
            </div>
        </div>
    </section>
    <section id="ourwork">
        <div class="container">
            <div class="ourwork-caption">
                Some of our works
            </div>
            <table class="desktop-gallery gallery-table">
                <tr>
                    <td class="wow bounceInLeft">
                         <%= image_tag 'gallery-1.jpg', class: '', alt: '' %>
                        <p class="category-mark vinyl">Integration</p></td>
                    <td class="wow bounceInRight" colspan="2">
                         <%= image_tag 'gallery-2.jpg', class: '', alt: '' %>
                        <p class="category-mark canvas">New</p></td>
                </tr>
                <tr>
                    <td class="wow bounceInUp" rowspan="2"><%= image_tag 'gallery-4.jpg', class: '', alt: '' %>
                        <p class="category-mark canvas">canvas</p></td>
                    <td class="wow bounceInRight"><%= image_tag 'gallery-41.jpg', class: '', alt: '' %>
                        <p class="category-mark wood">Zapier</p></td>
                    <td class="wow bounceInRight"><%= image_tag 'gallery-5.jpg', class: '', alt: '' %>
                        <p class="category-mark metal">See me</p></td>
                </tr>
                <tr>
                    <td class="wow bounceInRight"><%= image_tag 'gallery-6.jpg', class: '', alt: '' %>
                        <p class="category-mark wood">Pdfzapme</p></td>
                    <td class="wow bounceInRight"><%= image_tag 'gallery-7.jpg', class: '', alt: '' %>
                        <p class="category-mark wood">Adobe Pdf</p></td>
                </tr>
            </table>

            <table class="mobile-gallery gallery-table">
                <tr>
                    <td class="wow bounceInLeft" ><%= image_tag 'gallery-1.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
                        <p class="category-mark vinyl">vinyl</p></td>
                    <td class="wow bounceInRight" rowspan="2"><%= image_tag 'gallery-2.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
                        <p class="category-mark canvas">canvas</p></td>
                </tr>
                <tr>
                    <td class="wow bounceInLeft"><%= image_tag 'gallery-5.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
                        <p class="category-mark metal">metal</p></td>
                </tr>
                <tr>
                    <td class="wow bounceInUp" colspan="2"><%= image_tag 'gallery-2.jpg', class: '', alt: '' %>><div class="mask">Image from Pinterest</div>
                        <p class="category-mark canvas">canvas</p></td>
                </tr>
            </table>
            <a href="#" class="yellow-btn">see more</a>

        </div>
    </section>

    <section id="feature">
    	<div class="container">
    		<h1>Our work has been featured in</h1>
    		<div class="row wow bounceInLeft">
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-1.jpg', class: '', alt: '' %></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-2.jpg', class: '', alt: '' %></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-3.jpg', class: '', alt: '' %></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-4.jpg', class: '', alt: '' %></div>    			
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
    		</div>
    	</div>	
    </section>