

    <section id="main-slider">
        <div class="flexslider">
              <ul class="slides">
                <li data-thumb="assets/thum-1.png">
                    <%= image_tag 'slider1.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-1.png', class: 'mob-slider', alt: '' %>
                    
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Get your photos printed on canvas, metal, wood and many more...</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>Lorem ipsum dolor sit amet, et sagittis non venenatis condimentum, massa dolor cursus tortor laoreet pharetra maecenas</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Get started now!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                    
                </li>
                <li data-thumb="assets/thum-2.png">
                    <%= image_tag 'slider2.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider2.jpg', class: 'mob-slider', alt: '' %>
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Get your photos printed on canvas, metal, wood and many more...</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>Lorem ipsum dolor sit amet, et sagittis non venenatis condimentum, massa dolor cursus tortor laoreet pharetra maecenas</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Get started now!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                </li>
                
                <li data-thumb="assets/thum-3.png">

                    <%= image_tag 'slider3.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-3.png', class: 'mob-slider', alt: '' %>
                    
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Get your photos printed on canvas, metal, wood and many more...</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>Lorem ipsum dolor sit amet, et sagittis non venenatis condimentum, massa dolor cursus tortor laoreet pharetra maecenas</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Get started now!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                </li>
                
                <li data-thumb="assets/thum-4.png">
                    <%= image_tag 'slider4.jpg', class: 'web-slider', alt: '' %>
                    <%= image_tag 'slider-mob-4.png', class: 'mob-slider', alt: '' %>                    
                    <div class="flex-content">
                    	<div class="flex-inner">
                        	<div class="flex-text">
                            	<div class="main-flex">
                                	<div class="slider-heading">
                                    	<h1>Get your photos printed on canvas, metal, wood and many more...</h1>
                                    </div><!--slider-heading-->
                                    
                                    <div class="slider-text">
                                    	<p>Lorem ipsum dolor sit amet, et sagittis non venenatis condimentum, massa dolor cursus tortor laoreet pharetra maecenas</p>
                                    </div><!--slider-text-->
                                    
                                    <div class="slider-butt">
                                    	<a href="#">Get started now!</a>
                                    </div><!--slider-butt-->
                                    
                                </div><!--main-flex-->
                            </div><!--flex-text-->
                        </div><!--flex-inner-->
                    </div><!--flex-content-->
                </li>
              </ul>
        </div>
    </section>

    <section id="product-progress">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    				<div class="animation">
                        <%= image_tag 'computer-upload-print-onto.png', class: '', alt: '' %>
                        <%= image_tag 'submit-photos-to-print-onto.png', class: 'animated fadeIn', id: 'submit-it', alt: '' %>
    				</div>
    				<div class="progress-ad">
    					<h3>Submit photos</h3>
    					<span>Lorem ipsum dolor sit amet, nonummy lacus porta in porttitor. Vitae bibendum, pharetra.</span>
    				</div>
                    <%= image_tag 'arrow.png', class: 'progress-arrow', alt: '' %>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    				<div class="animation">
                        <%= image_tag 'prints-by-print-onto.png', class: '', alt: '' %>
                        <%= image_tag 'customized-prints-by-print-onto.png', class: 'animated rotate', id: 'custom-it', alt: '' %>
    				</div>
    				<div class="progress-ad">
    					<h3>Customize it</h3>
    					<span>Eu sit sit dolor diam, proin mauris massa sit arcu, mauris auctor arcu inceptos, at tincidunt.</span>
    				</div>
                    <%= image_tag 'arrow.png', class: 'progress-arrow', alt: '' %>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    				<div class="animation">
                        <%= image_tag 'printers-by-print-onto.png', class: '', alt: '' %>
                        <%= image_tag 'get-it-printed-by-print-onto.png', class: 'animated printInDown',id: 'print-it', alt: '' %>
    				</div>
    				<div class="progress-ad">
    					<h3>Get it Printed!</h3>
    					<span>Erat platea amet curae neque vestibulum laoreet, id hymenaeos leo sed lobortis sodal.</span>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section id="experience">
    	<div class="container">
    		<div class="experience-caption">
    			Experience on ly the best in quality
    		</div>
    		<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    				<div class="row">
    					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    						<div class="animation">
                                <%= image_tag 'upload-photos-to-print-onto.png', class: '', alt: '' %>
                                <%= image_tag 'print-onto-up-arrow.png', class: 'animated upload',id:'upload-it', alt: '' %>
    						</div>
    					</div>
    					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    						<div class="experience-ad">
    							<h2>Upload your photos</h2>
    							<span>Quam feugiat, sit dui aliquam. Ante lacinia nibh vel pretium, aliquam id nam. Nulla phasellus ac diam, commodo a tincidunt rutrum egestas.</span>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    				<div class="row">
    					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    						<div class="animation">
                                <%= image_tag 'high-definition-images-print-onto.png', class: '', alt: '' %>
                                <%= image_tag 'high-resolution-images-print-onto.png', class: 'animated resolution',id:'resolution-it', alt: '' %>resolution-it">
    						</div>
    					</div>
    					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    						<div class="experience-ad">
    							<h2>Ultra high resolution print</h2>
    							<span>Eleifend semper sed ut urna vitae et, malesuada nunc lectus, sed vestibulum magna, ut at mauris tellus. Quisque elit, tincidunt dictum mau.</span>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    				<div class="row">
    					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    						<div class="animation">

                                <%= image_tag 'affordable-back.png', class: '', alt: '' %>
                                <%= image_tag 'affordable-arrow.png', class: 'animated affordable',id: 'affordable-it', alt: '' %>
    						</div>
    					</div>
    					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    						<div class="experience-ad">
    							<h2>Affordable, large scale prints</h2>
    							<span>Quam feugiat, sit dui aliquam. Ante lacinia nibh vel pretium, aliquam id nam. Nulla phasellus ac diam, commodo a tincidunt rutrum egestas.</span>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    				<div class="row">
    					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    						<div class="animation">
                                <%= image_tag 'frame.png', class: 'animated swing',id:'frame-it', alt: '' %>
    						</div>
    					</div>
    					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    						<div class="experience-ad">
    							<h2>Framing and preview options</h2>
    							<span>Duis turpis quaerat sit, rutrum consequat pellentesque lorem. Fusce magna, suspendisse velit ornare, sagittis etiam eu.</span>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section id="ourwork">
    	<div class="container">
    		<div class="ourwork-caption">
    			Some of our works
    		</div>
    		<table class="desktop-gallery gallery-table">
    			<tr>
    				<td class="wow bounceInLeft">
                         <%= image_tag 'gallery-1.jpg', class: '', alt: '' %>
                        <div class="mask">Image from Pinterest</div>
    					<p class="category-mark vinyl">vinyl</p></td>
    				<td class="wow bounceInRight" colspan="2">
                         <%= image_tag 'gallery-2.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark canvas">canvas</p></td>
    			</tr>
    			<tr>
    				<td class="wow bounceInUp" rowspan="2"><%= image_tag 'gallery-4.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark canvas">canvas</p></td>
    				<td class="wow bounceInRight"><%= image_tag 'gallery-4.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark wood">wood</p></td>
    				<td class="wow bounceInRight"><%= image_tag 'gallery-5.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark metal">metal</p></td>
    			</tr>
    			<tr>
    				<td class="wow bounceInRight"><%= image_tag 'gallery-6.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark wood">wood</p></td>
    				<td class="wow bounceInRight"><%= image_tag 'gallery-7.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark wood">wood</p></td>
    			</tr>
    		</table>

    		<table class="mobile-gallery gallery-table">
    			<tr>
    				<td class="wow bounceInLeft" ><%= image_tag 'gallery-1.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark vinyl">vinyl</p></td>
    				<td class="wow bounceInRight" rowspan="2"><%= image_tag 'gallery-2.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark canvas">canvas</p></td>
    			</tr>
    			<tr>
    				<td class="wow bounceInLeft"><%= image_tag 'gallery-5.jpg', class: '', alt: '' %><div class="mask">Image from Pinterest</div>
    					<p class="category-mark metal">metal</p></td>
    			</tr>
    			<tr>
    				<td class="wow bounceInUp" colspan="2"><%= image_tag 'gallery-2.jpg', class: '', alt: '' %>><div class="mask">Image from Pinterest</div>
    					<p class="category-mark canvas">canvas</p></td>
    			</tr>
    		</table>
    		<a href="#" class="yellow-btn">see more</a>

    	</div>
    </section>

    <section id="get-started">
    	<div class="discount wow bounceInDown" ><h1>40%</h1>Discound on Shipping</div>
    	<div class="container">
    		<h1>Upload. Customize. Print.</h1>
    		<h2>affordable, simple and best quality</h2>
    		<a href="#" class="green-btn">GET STARTED NOW!</a>
    	</div>
    </section>

    <section id="feature">
    	<div class="container">
    		<h4>Our work has been featured in</h4>
    		<div class="row wow bounceInLeft">
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-1.jpg', class: '', alt: '' %></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-2.jpg', class: '', alt: '' %></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-3.jpg', class: '', alt: '' %></div>
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><%= image_tag 'feature-4.jpg', class: '', alt: '' %></div>    			
    			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
    		</div>
    	</div>	
    </section>