 <section id="footer">
      <div class="container">
        <%= image_tag 'print-onto-p-logo-beveled.png', class: 'footer-logo mobile-footer-logo', alt: '' %>
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-8 footer-left">
            <div>
              <span><a href="#">home</a></span>
              <span><a href="#">about</a></span>
              <span><a href="#">why choose us?</a></span>
              <span><a href="#">our works</a></span>
              <span><a href="#">blog</a></span>
              <span><a href="#">contact</a></span>
              <span class="social-link"><a href="#"><%= image_tag 'facebook-m.png', class: '', alt: '' %></a></span>
              <span class="social-link"><a href="#"><%= image_tag 'twit-m.png', class: '', alt: '' %></a></span>
              <span class="social-link"><a href="#"><%= image_tag 'insta-m.png', class: '', alt: '' %></a></span>
            </div>
            <div class="copyright">
              copyright 2015. printOnto. all rights reserved.
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-4 footer-right">
            <%= image_tag 'print-onto-p-logo-beveled.png', class: 'footer-logo', alt: '' %></a>            
          </div>
        </div>
      </div>      
    </section>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

  </body>
</html>